@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  :root,
  div#__next {
    @apply h-full w-full m-0 p-0;
  }
  h1 {
    @apply text-3xl font-bold text-gray-800;
  }
  h2 {
    @apply text-2xl font-bold text-gray-800 pt-10;
  }
  h3 {
    @apply text-xl font-bold text-gray-800 pt-10;
  }
  h4 {
    @apply text-lg font-bold text-gray-800;
  }
  h5 {
    @apply text-base font-bold text-gray-800 pt-10;
  }
  code {
    @apply bg-slate-200 px-2 rounded-sm;
  }
  blockquote {
    @apply p-4 italic border-l-4 bg-neutral-100 text-neutral-600 border-neutral-500;
  }
  li.blog__block_list {
    @apply list-disc;
  }
  li.blog__block_list ul li {
    @apply list-square;
  }
}

@layer components {
  .color--bg-primary {
    background: rgb(195, 55, 100);
    background: -moz-linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
