@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/nexa-bold');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@layer base {
  html,
  body,
  :root,
  div#__next {
    @apply h-full w-full m-0 p-0 scroll-smooth;
  }
  body {
    @apply font-source-sans;
  }
  h1 {
    @apply text-3xl font-bold text-gray-800 font-nexa-bold;
  }
  h2 {
    @apply text-2xl font-bold text-gray-800 font-nexa-bold;
  }
  h3 {
    @apply text-xl font-bold text-gray-800 font-nexa-bold;
  }
  h4 {
    @apply text-lg font-bold text-gray-800 font-nexa-bold;
  }
  h5 {
    @apply text-base font-bold text-gray-800 font-nexa-bold;
  }
  code {
    @apply bg-slate-200 px-2 rounded-sm;
  }
  blockquote {
    @apply p-4 italic border-l-4 bg-neutral-100 text-neutral-600 border-neutral-500;
  }
  li.blog__block_list {
    @apply list-disc;
  }
  li.blog__block_list ul li {
    @apply list-square;
  }
  p a {
    @apply text-theme-accent font-bold transition-colors;
  }
  p a:hover {
    @apply text-theme-accent-2;
  }
  input,
  textarea {
    @apply border border-slate-300 rounded-sm p-2 focus:outline-none;
  }
  label {
    @apply text-slate-500;
  }
  svg {
    @apply pointer-events-none;
  }
  header[data-scroll='scrollDown'] {
    @apply translate-y-[-60px];
  }
  header[data-scroll='scrollUp'] {
    @apply translate-y-0;
  }
  #JS-HeaderMenu.open > ul.JS-NavigationMenuList li {
    @apply opacity-0;
  }
  ul.JS-NavigationMenuList li a {
    @apply py-4 pr-4;
  }
  #JS-HeaderMenu.open {
    @apply animate-slide-in-left;
  }
}

@layer components {
  .color--bg-primary {
    background: rgb(195, 55, 100);
    background: -moz-linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(195, 55, 100, 1) 0%,
      rgba(29, 38, 113, 1) 100%
    );
  }
}
